*.log
db/

data/*
!data/tables
!data/corpus

data/tables/*
data/corpus/*

!data/tables/sample
!data/tables/README.md
!data/corpus/sample
!data/corpus/README.md

output/
settings.py
scripts/*.xlsx
scripts/*.json
scripts/*.jsonl

**/__pycache__/**
