{% set active_page = "export" %}
{% include "header.html" %}
<div class="container p-3">
    <div class="card">
        <div class="card-header">
            View Annotations
        </div>
        <div class="card-body">
            <form method=POST enctype=multipart/form-data action="{{url_for('show_export')}}">
                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                {% if data.users %}
                <div class="form-group row">
                    <label class="col-sm-2  col-form-label" for="download_annotator_id">User</label>
                    <div class="col-sm-6">
                        <select class="lead selectpicker" name="annotator_id" id="download_annotator_id"
                            data-container="body"
                            data-width="100%"
                            data-live-search="true"
                            required>
                            {% for user in data.users %}
                            <option value="{{user.id}}">{{user.email}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <!-- <div class="form-group row">
                    <label class="col-sm-2" for="download_output_format">Format</label>
                    <div class="col-sm-2">
                        <select class="lead selectpicker" name="output_format" id="download_output_format"
                            data-container="body"
                            data-width="100%">
                            <option value="standard">Standard</option>
                            <option value="simple">Simple</option>
                        </select>
                    </div>
                </div> -->
                <!-- <div class="form-group row">
                    <label class="col-sm-2" for="download_task_id">Task</label>
                    <div class="col-sm-6">
                        <select class="lead selectpicker" name="task_id" id="download_task_id"
                            data-container="body"
                            data-width="100%"
                            data-live-search="true"
                            data-actions-box="true"
                            data-select-all-text="All"
                            data-deselect-all-text="None"
                            data-selected-text-format="count"
                            multiple required>
                            {% for task_id, task in context_tasks.active_tasks.items() %}
                            <option value="{{task.id}}">{{task.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label class="col-sm-2" for="select_chapter_id">Chapter</label>
                    <div class="col-sm-6">
                        <select class="lead selectpicker" name="chapter_id" id="select_chapter_id"
                            data-container="body"
                            data-width="100%"
                            data-live-search="true"
                            data-actions-box="true"
                            data-select-all-text="All"
                            data-deselect-all-text="None"
                            data-selected-text-format="count"
                            multiple required>
                            {% for corpus in data.corpus_list %}
                            {% for chapter in corpus.chapters %}
                            <option value="{{chapter.id}}">{{corpus.name}} - {{chapter.name}}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" name="action" value="show_user_annotation" title="Show" class="btn btn-secondary float-right">
                            <i class="fa fa-eye"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if data.result %}
    <hr>
    <script>
        // Graphs are plotted separately for every graph task for every chapter.
        // GRAPH_DATA contains `task_id`s as properties (keys)
        // For every `task_id`, GRAPH_DATA[task_id] further contains objects,
        // which, in turn, have `chapter_id`s as properties and node and edge data
        // for the respective chapter as values
        // GRAPH_NETWORK contains similar nesting to hold graph network objects
        // for each task for each chapter

        const GRAPH_DATA = {};      // Graph Data
        const GRAPH_NETWORK = {};   // Graph Network
    </script>
    <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
        {% for task_id, task in context_tasks.active_tasks.items() %}
        {% if loop.first %}
            {% set active_class = "active" %}
            {% set aria_selected = "true" %}
        {% else %}
            {% set active_class = "" %}
            {% set aria_selected = "false" %}
        {% endif %}
        <li class="nav-item" title="{{task.title}}">
            <a class="nav-link {{active_class}} task-tab" id="task-{{task.id}}-tab" data-task-id="{{task.id}}" data-task-category="{{task.category}}" data-toggle="pill" href="#task-{{task.id}}-tab-content" role="tab" aria-controls="task-{{task.id}}-tab-content" aria-selected="{{aria_selected}}">
                {{task.short}}
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tab-content">
        {% for task_id, task in context_tasks.active_tasks.items() %}
        {% if loop.first %}
            {% set active_class = "active" %}
        {% else %}
            {% set active_class = "" %}
        {% endif %}
        <div class="tab-pane {{active_class}}" id="task-{{task.id}}-tab-content" role="tabpanel" aria-labelledby="task-{{task.id}}-tab">
            {% include "result_" + task.category + ".html" %}
        </div>
        {% endfor %}
    </div>

    <!-- Graph Plugin -->
    <script src="{{url_for('static', filename='plugins/js/vis-network.min.js')}}"></script>

    <script>
        const TASK_SENTENCE_BOUNDARY = "{{context_tasks.task_sentence_boundary}}";
        const TASK_WORD_ORDER = "{{context_tasks.task_word_order}}";
        const TASK_TOKEN_TEXT_ANNOTATION = "{{context_tasks.task_token_text_annotation}}";
        const TASK_TOKEN_CLASSIFICATION = "{{context_tasks.task_token_classification}}";
        const TASK_TOKEN_GRAPH = "{{context_tasks.task_token_graph}}";
        const TASK_TOKEN_CONNECTION = "{{context_tasks.task_token_connection}}";
        const TASK_SENTENCE_CLASSIFICATION = "{{context_tasks.task_sentence_classification}}";
        const TASK_SENTENCE_GRAPH = "{{context_tasks.task_sentence_graph}}";
    </script>

    <!-- Export Related JS -->
    <script src="{{url_for('static', filename='custom/js/export/export.js')}}"></script>
    {% endif %}
</div>
{% include "footer.html" %}