{% set active_page = "export" %}
{% include "header.html" %}
<div class="container p-3">
    <div class="card">
        <div class="card-header">
            View Annotations
        </div>
        <div class="card-body">
            <form method=POST enctype=multipart/form-data action="{{url_for('show_export')}}">
                <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                <!-- <div class="form-group row">
                    <label class="col-sm-2" for="download_output_format">Format</label>
                    <div class="col-sm-2">
                        <select class="lead selectpicker" name="output_format" id="download_output_format"
                            data-container="body"
                            data-width="100%">
                            <option value="standard">Standard</option>
                            <option value="simple">Simple</option>
                        </select>
                    </div>
                </div> -->
                <!-- <div class="form-group row">
                    <label class="col-sm-2" for="download_task_id">Task</label>
                    <div class="col-sm-6">
                        <select class="lead selectpicker" name="task_id" id="download_task_id"
                            data-container="body"
                            data-width="100%"
                            data-live-search="true"
                            data-actions-box="true"
                            data-select-all-text="All"
                            data-deselect-all-text="None"
                            data-selected-text-format="count"
                            multiple required>
                            {% for task in constants.tasks %}
                            <option value="{{task.id}}">{{task.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label class="col-sm-2" for="select_chapter_id">Chapter</label>
                    <div class="col-sm-6">
                        <select class="lead selectpicker" name="chapter_id" id="select_chapter_id"
                            data-container="body"
                            data-width="100%"
                            data-live-search="true"
                            data-actions-box="true"
                            data-select-all-text="All"
                            data-deselect-all-text="None"
                            data-selected-text-format="count"
                            multiple required>
                            {% for corpus in data.corpus_list %}
                            {% for chapter in corpus.chapters %}
                            <option value="{{chapter.id}}">{{corpus.name}} - {{chapter.name}}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" name="action" value="show_user_annotation" class="btn btn-secondary float-right">
                            <i class="fa fa-eye"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if data.result %}
    <hr>
    <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
        {% for task in data.tasks %}
        {% if task.id == 1 %}
            {% set active_class = "active" %}
            {% set aria_selected = "true" %}
        {% else %}
            {% set active_class = "" %}
            {% set aria_selected = "false" %}
        {% endif %}
        <li class="nav-item" title="{{task.title}}">
          <a class="nav-link {{active_class}}" id="task-{{task.id}}-tab" data-toggle="pill" href="#task-{{task.id}}-tab-content" role="tab" aria-controls="task-{{task.id}}-tab-content" aria-selected="{{aria_selected}}">{{task.short}}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tab-content">
        {% for task in data.tasks %}
        {% if task.id == 1 %}
            {% set active_class = "active" %}
        {% else %}
            {% set active_class = "" %}
        {% endif %}
        <div class="tab-pane {{active_class}}" id="task-{{task.id}}-tab-content" role="tabpanel" aria-labelledby="task-{{task.id}}-tab">
            {% include "result_" + task.name + ".html" %}
        </div>
        {% endfor %}
    </div>

    <script>
        $(".download-task-data").click(function() {
            const task_name = $(this).data("task");
            const target_id = $(this).data("target");
            const chapter_id = $(this).data("chapter");
            const text_to_write = document.getElementById(target_id).innerText;
            const text_file_as_blob = new Blob([text_to_write], {type:'text/plain'});
            const filename_to_save_as = `${task_name}_${chapter_id}.txt`;

            const download_link = document.createElement("a");
            download_link.download = filename_to_save_as;
            download_link.innerHTML = "Download File";
            if (window.webkitURL != null)
            {
                // Chrome allows the link to be clicked
                // without actually adding it to the DOM.
                download_link.href = window.webkitURL.createObjectURL(text_file_as_blob);
            }
            else
            {
                // Firefox requires the link to be added to the DOM
                // before it can be clicked.
                download_link.href = window.URL.createObjectURL(text_file_as_blob);
                download_link.onclick = function(){
                    document.body.removeChild(download_link);
                };
                download_link.style.display = "none";
                document.body.appendChild(download_link);
            }

            download_link.click();
        });

    </script>
    {% endif %}
</div>
{% include "footer.html" %}