{% set active_page = "progress" %}
{% include "header.html" %}
<div class="container p-3">
    <div id="annotation-progress-toolbar">
        <h4>
            Overall Annotation Progress
        </h4>
    </div>
    <table id="annotation-progress-viewer"></table>
    <script>
        const PROGRESS = JSON.parse('{{data.progress | tojson}}');
        const USER = JSON.parse('{{data.user | tojson}}');
        const TASK = JSON.parse('{{data.task | tojson}}');
        const CHAPTER = JSON.parse('{{data.chapter | tojson}}');
    </script>
</div>
{% include "footer.html" %}