{% extends "task_base.html" %}

{% block body %}
<div id="token-graph-input">
    <form id="token-graph-form">
        <div id="token-graph-input-container"></div>
    </form>
</div>
<!-- Sample Elements (Hidden) -->
<div id="sample-token-graph-input-container" hidden="true">
    <div id="sample-token-graph-input" class="card border-secondary mb-1">
        <div class="card-header lead bg-white border-bottom-0">
            <div class="row">
                <span class="col-sm boundary-token-graph-header"></span>
                <div class="col-sm-2">
                    <button type="button" title="Add Relation" class="btn btn-sm btn-success float-right add-triplet-button">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" title="Show Graph" class="btn btn-sm btn-info mx-1 float-right show-graph-modal-button" data-task-name="{{task.name}}" data-toggle="modal" data-target="#show-graph-modal">
                        <i class="fa-solid fa-diagram-project"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body token-graph-input"></div>
    </div>
    <select id="sample-source-entity" title="Action {}" class="form-control" data-width="false" data-live-search="true" required></select>
    <select id="sample-relation-label" title="Relation Label {}" class="form-control" data-width="false" data-live-search="true" required>
        {% for _id, _label, _description in context_labels.token_relation_labels %}
        <option value="{{_id}}" data-subtext="{{_description}}" data-content='<span class="btn-sm">{{_description}}</span>'></option>
        {% endfor %}
    </select>
    <select id="sample-target-entity" title="Entity {}" class="form-control" data-width="false" data-live-search="true" required></select>
</div>
<script>
    const VARIABLE_PREFIX = "{{config.var_prefix}}";
    const VARIABLE_SUFFIX = "{{config.var_suffix}}";
</script>

<script src="{{url_for('static', filename='plugins/js/vis-network.min.js')}}"></script>
<script>
    // Graph Related
    // Reference: https://visjs.github.io/vis-network/docs/network/

    var NETWORK;
</script>

{% endblock %}