{% set task_id = "3" %}
{% set title = "Named Entity Recognition" %}
{% extends "task_base.html" %}
{% block body %}
<div id="entity-container">
    <form class="scroll-small" id="entity-form">
    <table id="entity-table" class="table"></table>
    </form>
    <hr class="border-secondary m-1">
    <div class="scroll-small">
    <table id="non-entity-table" class="table bg-light"></table>
    </div>
</div>
<div class="sample-input" hidden="true">
    <select id="sample-entity-type" title="Select Entity Type" class="form-control selectpicker" data-show-subtext="true" data-live-search="true" required>
        {% for _id, _label, _description in constants.entity_labels %}
        <option value="{{_id}}" data-subtext="{{_description}}">{{_label}}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}