{% extends "task_base.html" %}
{% block body %}
<div id="sentence-classification-container-{{task.id}}">
    <form id="sentence-classification-form-{{task.id}}">
        <div id="sentence-classification-input-container-{{task.id}}"></div>
    </form>
</div>
<!-- Sample Elements (Hidden) -->
<div id="sample-sentence-classification-input-container-{{task.id}}" hidden="true">
    <div id="sample-sentence-classification-input-{{task.id}}" class="card border-secondary">
        <div class="card-body form-row">
            <div class="col-sm sentence-text lead">
                Sentence text appears here.
            </div>
            <div class="col-sm-4">
                <select title="Select Sentence Label" class="form-control sentence-label" data-show-subtext="true" data-live-search="true" required>
                    {% for _id, _task_id, _label, _description in context_labels.sentence_labels %}
                    {% if _task_id == task.id %}
                    <option value="{{_id}}" data-subtext="{{_description}}">{{_label}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<script>
    // Setup Placeholder
    $(document).ready(function () {
        var $placeholder = $("#sample-sentence-classification-input-{{task_id}}").clone();
        $placeholder.removeAttr("id");
        $placeholder.find(".sentence-label").selectpicker();
        $placeholder.appendTo("#sentence-classification-input-container-{{task_id}}");
    });
</script>
{% endblock %}