{% extends "task_base.html" %}
{% block extra_header %}
<button id="show-graph-sentence-graph-{{task.id}}" type="button" title="Show Graph" class="btn btn-sm btn-info ml-1 float-right show-graph-modal-button" data-task-id="{{task.id}}" data-task-category="{{task.category}}" data-toggle="modal" data-target="#show-graph-modal" disabled>
    <i class="fa-solid fa-diagram-project"></i>
</button>
{% endblock %}
{% block body %}
<!-- Context -->
<div id="sentence-graph-context-container-{{task.id}}" class="scroll">
    <br>
    <br>
    Clickable list of tokens from sentences from the last 3 verses goes here.
    <br>
    Tokens can be clicked in order to select from them.
    <br>
    <br>
</div>

<!-- Intermediate -->
<div class="mark border border-warning rounded px-1 pt-1 pb-0 m-1" id="sentence-graph-intermediate-row-container-{{task.id}}">
    <div id="sentence-graph-row-{{task.id}}" class="row p-0 m-0">
        <div id="sentence-graph-source-token-container-{{task.id}}" class="col-sm px-1"></div>
        <div id="sentence-graph-relation-container-{{task.id}}" class="col-sm-4">
            <select id="sentence-graph-relation-selector-{{task.id}}" title="Select Sentence Relation" class="selectpicker" data-show-subtext="true" data-width="75%" data-live-search="true" required>
                {% for _id, _task_id, _label, _description in context_labels.sentence_relation_labels %}
                {% if _task_id == task.id %}
                <option value="{{_id}}" data-subtext="{{_description}}">{{_label}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div id="sentence-graph-target-token-container-{{task.id}}" class="col-sm px-1"></div>
        <div class="col-sm-2 px-0">
            <button id="sentence-graph-confirm-button-{{task.id}}" type="button" title="Confirm" class="btn btn-success float-right mx-1 mb-1" disabled>
                <i class="fas fa-check"></i>
            </button>
            <button id="sentence-graph-reset-button-{{task.id}}" type="button" title="Reset" class="btn btn-warning float-right mb-1">
                <i class="fas fa-rotate-right"></i>
            </button>
        </div>
    </div>
</div>

<!-- Annotation -->
<form id="sentence-graph-form-{{task.id}}">
<div class="border border-success rounded px-1 pt-1 pb-0 m-1" id="sentence-graph-annotation-container-{{task.id}}">
    <!-- Temporary Content -->
    <!-- Content will be overwritten by JS. -->

    <div class="row p-0 m-0">
        <div class="col-sm px-1">
            <span class="btn btn-light mb-1">
                source-token
            </span>
        </div>
        <div class="col-sm-4">
            <select class="form-control selectpicker" data-width="75%"></select>
        </div>
        <div class="col-sm px-1">
            <span class="btn btn-light mb-1">
                target-token
            </span>
        </div>
        <div class="col-sm-2 px-0">
            <button type="button" class="btn btn-danger float-right mx-1">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
</div>
</form>
{% endblock %}