<div class="card">
    <div class="card-header">
        {% block header %}{{title}}{% endblock %}
        <button class="btn btn-sm btn-primary float-right ml-1 refresh-verse" title="Refresh Verse Data" disabled>
            <i class="fa fa-sync"></i>
        </button>
        {% block extra_header %}{% endblock %}
    </div>
    <div class="card-body p-1 m-1">
        {% block body %}
        Task annotation front-end.
        {% endblock %}
    </div>
    <div class="card-footer">
        {% block footer %}
        <button class="btn btn-light" disabled>
            <span id="verse-id-task-{{task_id}}" class="verse-id-container">None</span>
        </button>
        <button id="task-{{task_id}}-submit" class="btn btn-primary float-right">
            Submit
        </button>
        {% endblock %}
        {% block extra_footer %}{% endblock %}
    </div>
</div>
