{% set task_id = "2" %}
{% set title = "Anvaya" %}
{% extends "task_base.html" %}
{% block extra_header %}
<button type="button" id="add-token-modal-button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#add-token-modal" title="Add Token" disabled>
    <i class="fa fa-plus"></i>
</button>
{% endblock %}
{% block body %}
<div id="anvaya-container">
    <!-- Entire contents will be overwritten by JS. -->
</div>
<div id="sample-anvaya-container" hidden="true">
    <div class="border px-1 pt-1 m1 rounded" style="background-color: #eeeeff; border-color: #aaaaff !important;">
        <span class="btn btn-secondary mr-1 mb-1">
            Custom
        </span>
        <span class="btn btn-secondary mr-1 mb-1">
            tokens
        </span>
        <span class="btn btn-secondary mr-1 mb-1">
            go
        </span>
        <span class="btn btn-secondary mr-1 mb-1">
            here
        </span>
    </div>
    <div class="border px-1 pt-1 m1 rounded" style="background-color: #eeffee; border-color: #aaffaa !important;">
        <span class="btn btn-light border-secondary mr-1 mb-1">
            Rearrange
        </span>
        <span class="btn btn-warning border-secondary mr-1 mb-1">
            Re
        </span>
        <span class="btn btn-warning border-secondary mr-1 mb-1">
            arrange
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            tokens
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            in
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            the
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            desired
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            order
        </span>
    </div>
    <div class="border px-1 pt-1 m1 rounded" style="background-color: #ffeeee; border-color: #ffaaaa !important;">
        <span class="btn btn-light border-secondary mr-1 mb-1">
            These
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            tokens
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            will
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            be
        </span>
        <span class="btn btn-light border-secondary mr-1 mb-1">
            rejected
        </span>
    </div>
</div>
{% endblock %}