{% set task_id = "7" %}
{% set title = "Discourse Graph" %}
{% extends "task_base.html" %}
{% block body %}
<!-- Context -->
<div id="intersentence-connection-context-container" class="scroll">
    <br>
    <br>
    Clickable list of tokens from sentences from the last 3 verses goes here.
    <br>
    Tokens can be clicked in order to select from them.
    <br>
    <br>
</div>

<!-- Intermediate -->
<div class="mark border border-warning rounded px-1 pt-1 pb-0 m-1" id="intersentence-connection-intermediate-row-container">
    <div id="intersentence-connection-row" class="row">
        <div id="intersentence-connection-source-token-container" class="col-sm"></div>
        <div id="intersentence-connection-relation-container" class="col-sm-4">
            <select id="intersentence-connection-relation-selector" title="Select Discourse Relation" class="selectpicker" data-show-subtext="true" data-width="75%" data-live-search="true" required>
                {% for _id, _label, _description in constants.discourse_labels %}
                <option value="{{_id}}" data-subtext="{{_description}}">{{_label}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="intersentence-connection-target-token-container" class="col-sm"></div>
        <div class="col-sm-2">
            <button id="intersentence-connection-confirm-button" type="button" title="Confirm" class="btn btn-success float-right mx-1 mb-1" disabled>
                <i class="fas fa-check"></i>
            </button>
            <button id="intersentence-connection-reset-button" type="button" title="Reset" class="btn btn-warning float-right mb-1">
                <i class="fas fa-rotate-right"></i>
            </button>
        </div>
    </div>
</div>

<!-- Annotation -->
<form id="intersentence-connection-form">
<div class="border border-success rounded px-1 pt-1 pb-0 m-1" id="intersentence-connection-annotation-container">
    <!-- Temporary Content -->
    <!-- Content will be overwritten by JS. -->

    <div class="row">
        <div class="col-sm">
            <span class="btn btn-light mb-1">
                source-token
            </span>
        </div>
        <div class="col-sm-4">
            <select class="form-control selectpicker" data-width="75%"></select>
        </div>
        <div class="col-sm">
            <span class="btn btn-light mb-1">
                target-token
            </span>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-danger float-right mx-1">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
</div>
</form>
{% endblock %}